
header
{
    background-color: #DB5210;
}
body{
    margin:0;
    font-family:'Times New Roman', Times, serif, sans-serif;
}

.top-bar{
    background:#d64b4b;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 30px;
}

.logo{
    width:80px;
    height:80px;
    margin: 0;
    border-radius:50%;
}

.search-box{
    display:flex;
}

.search-box input{
    width:350px;
    padding:10px;
    border:none;
    border-radius:20px 0 0 20px;
}

.search-box button{
    padding:10px 20px;
    border:none;
    background:#333;
    color:white;
    border-radius:0 20px 20px 0;
    cursor:pointer;
}

.buttons button{
    margin-left:10px;
    padding:10px 20px;
    border:none;
    border-radius:5px;
    background:white;
    color:#d64b4b;
    font-weight:bold;
    cursor:pointer;
}

nav{
    background:#ffffff;
    text-align:center;
    padding:15px;
}

nav a{
    text-decoration:none;
    margin:0 20px;
    color:black;
    font-weight:bold;
}

nav a:hover{
    color:#d64b4b;
}
.Main
{
    height: 400px;
    background-image: url("BG.jpeg");
    background-size: cover;
    background-position: center;

}

p{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    
}
.f{
    color:#d64b4b;
}
button
{
    height: 50px;
    width: 80px;
}
.Products
{
    background-color: #FAF3E6;
}
.container
{
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding: 20px;
}
.card
{
    width: 300px;
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0,15);
    transition: all 0.4s ease;
    cursor: pointer;
}
.card:hover
{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0,25);
}
.card img
{
    width: 100%;
    height:220px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0,5s ease;
    display: block;
}
.card:hover img{
    transform: scale(1);
}
.card h3{
    margin-top: 20px;
    font-size: 21px;
    color: #222;
}
.card p 
{
    font-size: 22px;
    font-weight: lighter;
    color: #222;
   
}
p{
    text-align: center;
}
footer{
    background:#DB5210;
    color:white;
    padding:40px;
}
.footer-container{
    display:flex;
    justify-content:space-around;
}
